<!--<mat-card>-->
  <!--<mat-card-subtitle>{{reminderElement.reminderText}}</mat-card-subtitle>-->
  <!--<mat-card-content>-->
    <!--<p>Created: {{reminderElement.createdDate}}, Due: {{reminderElement.dueDate}}</p>-->
  <!--</mat-card-content>-->
  <!--<mat-card-actions>-->
    <!--<button mat-button>Done</button>-->
    <!--<button mat-button>Edit</button>-->
  <!--</mat-card-actions>-->
<!--</mat-card>-->

<mat-card class="element" xmlns:left="http://www.w3.org/1999/xhtml">
<mat-grid-list cols="12" rowHeight="40px">
  <mat-grid-tile [colspan]="10" [rowspan]="1">
    <div style="position: absolute; left: 5px; top: 20px">
      {{reminderElement.reminderText}}
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1"><mat-checkbox></mat-checkbox></mat-grid-tile>
</mat-grid-list>

  <mat-grid-list cols="12" rowHeight="40px">
    <mat-grid-tile [colspan]="10" [rowspan]="1">
      <div style="position: absolute; left: 5px">
        <b>Created</b>: {{reminderElement.createdDate | date: 'medium'}}, <b>Due</b>: {{reminderElement.dueDate | date: 'medium'}}
      </div>
    </mat-grid-tile>
  </mat-grid-list>

</mat-card>
<br />
